<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mybatis1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>cn.zx.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOne</display-name>
    <servlet-name>DeleteOne</servlet-name>
    <servlet-class>cn.zx.servlet.DeleteOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOne</servlet-name>
    <url-pattern>/deleteOne.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAll</display-name>
    <servlet-name>DeleteAll</servlet-name>
    <servlet-class>cn.zx.servlet.DeleteAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAll</servlet-name>
    <url-pattern>/deleteAll.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitTalkServlet</servlet-name>
    <servlet-class>cn.zx.servlet.InitTalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitTalkServlet</servlet-name>
    <url-pattern>/InitTalkServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoReplyServlet</servlet-name>
    <servlet-class>cn.zx.servlet.AutoReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoReplyServlet</servlet-name>
    <url-pattern>/AutoReplyServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>cn.zx.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/insert.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticle</display-name>
    <servlet-name>UpdateArticle</servlet-name>
    <servlet-class>cn.zx.servlet.UpdateArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticle</servlet-name>
    <url-pattern>/update.action</url-pattern>
  </servlet-mapping>
</web-app>